@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.header {
    display:flex;
    flex: 1 1 auto;
    justify-content: center;
    padding: 15px;
    background-color: #1F2937;
}

.info .text {
    font-size: 18px;
    width: 450px;
    margin: 5px 0 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-right: 450px;
}

.links {
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.button button{

  background-color: #3882F6; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 22px;
  text-align: center;
}


a {
    padding: 10px;
}

.top {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    width: 400px;
    padding-right: 140px;

}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(197, 197, 197, 0.226);
    height: 217px;
    width: 440px;
    align-self: center;
}

.title h1 {
    font-weight: 900;
}
.title {
    font-size: 24px;
}

.heading h1 {
    text-align: center;
    margin: 30px;
}
.mid1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    height: 320px;
    font-weight: 300;
}

.content .info {
    padding: 0;
    margin: 20px;
    width: 150px;
}

.info .image {
    border: 2px solid #3882F6;
    background-color: white;
    border-radius: 10px;
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}

.mid2 {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
    padding: 0 290px;
    background-color: #E5E7EB;
}

.mid2 p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.credit {
    align-self: end;
    font-weight: 600;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    width: 800px;
    height: 120px;
    margin: 100px 0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
}

.bottom .content {
    display: flex;
    flex-direction: column;
    color: white;
}

.content .heading {
    font-size: 20px;
    font-weight: 500;
}

.content .text {
    font-weight: 300;
}

.bottom button {
    border: 2px solid white;
    font-weight: 900;
}